# SF Salaries Exercise

Import pandas as pd.

In [1]:
import pandas as pd

Read Salaries.csv as a dataframe called sal.

In [2]:
sal = pd.read_csv('Salaries.csv')

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Check the head of the DataFrame.

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Use the .info() method to find out fow many entries there are.

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148645 entries, 0 to 148644
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148645 non-null  int64
 1   EmployeeName      148645 non-null  object
 2   JobTitle          148645 non-null  object
 3   BasePay           148040 non-null  float64
 4   OvertimePay       148645 non-null  float64
 5   OtherPay          148645 non-null  float64
 6   Benefits          112486 non-null  float64
 7   TotalPay          148645 non-null  float64
 8   TotalPayBenefits  148645 non-null  float64
 9   Year              148645 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148645 non-null  object
 12  Status            38114 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

What is the average BasePay?

In [7]:
sal['BasePay'].mean()

66327.6889596918

What is the highest amount of OVertimePay in the dataset?

In [13]:
sal['OvertimePay'].max()

245131.88

What is the job title of JOSEPH DRISCOLL? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [20]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)?

In [21]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of highest paid person (including benefits)?

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [22]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

What is hte name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid

In [39]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT

What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [41]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66573.154204
Name: BasePay, dtype: float64

How many uniuque job titles are there?

In [44]:
sal['JobTitle'].nunique()

2158

What are the top 5 most common jobs?

In [46]:
sal['JobTitle'].value_counts()

Transit Operator                  7036
Special Nurse                     4389
Registered Nurse                  3736
Public Svc Aide-Public Works      2518
Police Officer 3                  2421
                                  ...
DIRECTOR, JUVENILE HALL              1
ASSISTANT INDUSTRIAL HYGIENIST       1
Chief Investment Officer             1
Drug Court Coordinator               1
DISABILITY ACCESS COORDINATOR        1
Name: JobTitle, Length: 2158, dtype: int64

How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013) ?

In [49]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

How many people have the word Chief in thier job title? (This is pretty tricky) (using lambda expression)

In [61]:
def chief_string(title: str) -> bool:
    if 'chief' in title.lower().split():
        return True

In [62]:
sal['JobTitle'].apply(lambda x: chief_string(x)).sum()

477

Bonus: Is there a correlation between length of the Job Title string and Salary?

In [73]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [74]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036921
title_len                -0.036921   1.000000